<%= render "shared/header" %>

<div id="global-container">
  <div id="main-container">
    <div id="top-container">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="top-wrapper">
        <div class="top-slide">
          <div class="top-image">
            <img src="assets/image-1.jpg" alt="">
          </div>
          <div class="projects-detail">
            <div class="icon-name">
              <a class="icon-name__style" href="#">icon-name</a>
              <div class="icon-name__tag">東京</div>
            </div>
          </div>
          <p class="user-name">
            <a class="user-name__image" href="#">
              <img src="assets/image-4.jpg" width="40" height="40" alt="">
            </a>
            <a class="user-name__detail" href="#">user</a>
          </p>
        </div>
        <div class="top-slide">
          <div class="top-image">
            <img src="assets/image-2.jpg" alt="">
          </div>
          <div class="projects-detail">
            <div class="icon-name">
              <a class="icon-name__style" href="#">icon-name</a>
              <div class="icon-name__tag">東京</div>
            </div>
          </div>
          <p class="user-name">
            <a class="user-name__image" href="#">
              <img src="assets/image-4.jpg" width="40" height="40" alt="">
            </a>
            <a class="user-name__detail" href="#">user</a>
          </p>
        </div>
        <div class="top-slide">
          <div class="top-image">
            <img src="assets/image-4.jpg">
          </div>
          <div class="projects-detail">
            <div class="icon-name">
              <a class="icon-name__style" href="#">icon-name</a>
              <div class="icon-name__tag">東京</div>
            </div>
          </div>
          <p class="user-name">
            <a class="user-name__image" href="#">
              <img src="assets/image-4.jpg" width="40" height="40" alt="">
            </a>
            <a class="user-name__detail" href="#">user</a>
          </p>
        </div>
      </div>
    </div>
    <div id class="main-page">
      <div class="search-content">
        <form method="get" action="#" class="search_container">
          <input type="text" size="75" placeholder="　タグや地名で検索">
          <input type="submit" value="&#xf002">
        </form>
      </div>
      <div class="title-content">
        <h1 class="main-title">新規投稿カフェ一覧</h1>
      </div>
      <div class="main-content">
        <div class="content-page">
        </div>
      </div>
    </div>
  </div>
</div>





<!--<div id="swiper-container">-->
<!--  <div id="swiper-content">-->
<!--    <div class="slider">-->
<!--       Slider main container -->
<!--      <div class="swiper-container">-->
<!--         Additional required wrapper -->
<!--        <div class="swiper-wrapper">-->
<!--           Slides -->
<!--          <div class="swiper-slide">-->
<!--            <img src="/assets/image-5.jpg">-->
<!--            test-->
<!--          </div>-->
<!--          <div class="swiper-slide">-->
<!--            <img src="/assets/image-3.jpg">-->
<!--            test-->
<!--          </div>-->
<!--          <div class="swiper-slide">-->
<!--            <img src="/assets/image-4.jpg">-->
<!--            test-->
<!--            test-->
<!--          </div>-->
<!--        </div>-->
<!--         If we need pagination -->
<!--                  <div class="swiper-pagination"></div>-->

<!--         If we need navigation buttons -->
<!--        <div class="swiper-button-prev"></div>-->
<!--        <div class="swiper-button-next"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->