<%= render "shared/header" %>
<%= render "users/mypage" %>

<div class="user-wrapper">
  <div class="user-wrapper__title"><%= "#{@user.name}さんのおすすめカフェ一覧" %></div>
  <div class="table">
    <%= render partial: "shared/upload", collection: @tables %>
  </div>
</div>