<header class="header">
  <div id="container">
    <a class="title" href="#">locat</a>
    <button class="menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="menu">
    <ul class="menu__list">
      <li class="menu__name">
        <a class="menu__link" href="#">ログイン</a>
      </li>
      <li class="menu__name">
        <a class="menu__link" href="#">ゲストログイン</a>
      </li>
      <li class="menu__name">
        <a class="menu__link" href="#">新規登録</a>
      </li>
    </ul>
  </div>
</header>
