////// Place all the styles related to the upload controller here.
////// They will automatically be included in application.scss.
////// You can use Sass (SCSS) here: https://sass-lang.com/
$white: white;
$black: black;

//スライドページ
*:focus {
  outline: none;
}

#top-container {
  height: 450px;
  padding: 10px 0;
  overflow: hidden;
  background: #BBBBBB;
  position: relative;
}

.top-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.top-slide {
  width: 630px;
  height: 100%;
  float: left;
  background: $white;
  margin: 0 4px;
  z-index: 1;
}

.top-image {
  height: 260px;
  overflow: hidden;
  background-color: $white;

  & > img {
    height: 100%;
    width: 100%;
  }
}

.projects-detail {
  padding: 18px 20px 20px;
  background-color: $white;
  position: relative;
}

.icon-name {
  text-align: center;
  width: 100%;
  font-weight: 600;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;

  &__style {
    font-size: 25px;
    color: black;
    font-weight: bold;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, white 50%);
    background-position: 0 0;
    background-size: 200% auto;
    transition: 0.5s;

    &:hover {
      background-position: -100% 0;
      color: cadetblue;
    }
  }

  &__tag {
    border: 2px solid;
    color: grey;
    border-radius: 40%;
    padding: 10px 10px;
  }
}

.user-name {
  padding-left: 40px;
  font-weight: 300;
  bottom: 20px;
  line-height: 10px;
  display: flex;

  &__detail {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: $black;
    display: inline-block;
    position: relative;
    line-height: 40px;

    &::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background: #333;
      transform: scale(0, 1);
      transform-origin: left top;
      transition: transform .3s;
    }

    &:hover::after {
      transform: scale(1, 1);
    }
  }

  &__image {

    & > img {
      border-radius: 50%;
    }
  }
}

//検索フォーム

.search-content {
  padding: 48px 40px;
  align-items: center;
  display: flex;
}

.search_container {
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.2em;
  width: 400px;
  overflow: hidden;
  background: #3879D9;
}

.search_container input[type="text"]{
  border: none;
  height: 2.0em;
  background: #3879D9;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #fff;
  position: absolute;
  height: 2.5em;
  right: 8px;
  top: -10px;
  outline : none;
}
.search_container ::-webkit-input-placeholder {
  color: #fff;
}

//メイン投稿一覧

.title-content {
  display: flex;
}
.main-title {
  display: block;
  margin: 0 auto;
}

.main-content {
  padding: 0 10vw;
}


