.my_page {

  &__title {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gainsboro;
    font-weight: bold;
  }

  &__list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    height: 5vh;
    align-items: center;
    font-weight: bold;
    border-bottom: 3px solid cornflowerblue;
    cursor: pointer;
  }
}